.footer {
    color: var(--color-grey-dark-1);
    font-size: 1.5rem; 
    padding: 3rem 2.5rem;
    margin-top: 4rem; 
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid var(--color-grey-light-2); 

    &__container {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center; 

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.34);
        margin-right: 6rem;

        @media only screen and (max-width: 600px) {
            margin-right: 0;
            margin-bottom: 3rem;
        }
    }


    &__right {
        width: 30rem;
    }

    &__text {
        padding-bottom: 3rem;
        border-bottom: 1px solid var(--color-grey-light-4);
    }
} 