.header {
    font-family: "Ralewar", sans-serif;
    font-size: 3rem;
    font-weight: 100;
    width: 100%;
    background-color: var(--color-grey-light-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}